.editor {
  --base00: transparent;
  --base01: #a9b1d6;
  --base02: #3d59a1;
  --base03: #51597d;
  --base04: #9aa5ce;
  --base05: #c0caf5;
  --base06: #363b54;
  --base07: rgba(81, 92, 126, 0.3);
  --base08: #f7768e;
  --base09: #ff9e64;
  --base0A: #ff9e64;
  --base0B: #73daca;
  --base0C: #89ddff;
  --base0D: #7aa2f7;
  --base0E: #bb9af7;
  --base0F: #73daca;

  .CodeMirror {
    /* Background color of main window */
    background-color: var(--base00);
    --fat-cursor-color: var(--base0C);

    .CodeMirror-scroll,
    .CodeMirror-dialog {
      /* Color of otherwise un-styled text */
      color: var(--base01);
    }
    .CodeMirror-gutters {
      /* Gutter to the left */
      background-color: var(--base00);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
    .CodeMirror-linenumber {
      /* Line numbers in the gutter */
      color: var(--base06);
    }
    .CodeMirror-selected {
      /* Highlighted text */
      background-color: color-mix(in srgb, var(--base06), transparent 80%);
    }
    .CodeMirror-focused .CodeMirror-selected {
      /* Highlighted text when focused */
      background-color: var(--base07);
    }
    .CodeMirror-cursor {
      /* The cursor */
      border-left: 2px solid var(--base05);
    }
    .CodeMirror-matchingbracket,
    .CodeMirror-matchingtag {
      /* When you click a tag/bracket and the matching one is highlighted */
      background: #16161e !important;
      border-bottom: 1px solid #42465d !important;
    }
    .CodeMirror-foldgutter-open:after {
      /* Those little arrows in the gutter */
      color: var(--base03);
    }
    .CodeMirror-foldgutter-folded:after {
      /* The arrows after you collapse code */
      color: var(--base04);
    }
    .CodeMirror.over-gutter,
    .CodeMirror-activeline {
      .CodeMirror-foldgutter-open:after {
        /* Arrows when hovering on the gutter */
        color: var(--base06);
      }
    }
    .CodeMirror-foldmarker {
      /* The [...] marking collapsed code */
      border-color: var(--base06);
      background-color: var(--base06);
      color: var(--base02);
    }
    .CodeMirror .CodeMirror-linewidget img.inline-widget {
      background: rgba(0, 0, 0, 0.1);
    }
    .cm-searching {
      /* Ctrl + F results */
      background-color: rgba(61, 89, 161, 0.26);
      border-bottom: 1px solid #ba3c97 !important;
    }
    .CodeMirror-activeline-gutter .CodeMirror-linenumber {
      color: #787c99;
    }
  }

  /* All 'dem swatches */

  .CodeMirror,
  .mde-preview .codeblock pre {
    color-scheme: dark;

    .cm-quote {
      color: #c0cefc;
      font-style: italic;
    }
    .cm-url {
      color: var(--base0F);
    }
    .cm-atom {
      color: var(--base0A);
    }
    .cm-string,
    .cm-string-2 {
      color: var(--base0B);
    }
    .cm-hr {
      color: #51597d;
    }
    .cm-formatting-list {
      color: var(--base0C);
    }
    .cm-number,
    .cm-attribute,
    .cm-plus {
      color: var(--base0A);
    }
    .cm-def {
      color: var(--base0C);
    }
    .cm-property {
      color: var(--base0D);
    }
    .cm-callee {
      color: #0db9d7;
    }
    .cm-variable {
      color: var(--base05);
    }
    .cm-keyword,
    .cm-meta {
      color: var(--base0E);
    }
    .cm-operator {
      color: var(--base0C);
    }
    .cm-bracket {
      color: #ba3c97 !important;
    }
    .cm-comment {
      color: var(--base03);
      font-style: italic;
    }
    .cm-error,
    .cm-minus {
      color: var(--base09);
    }
    .cm-formatting-header {
      opacity: 0.3;
    }
    .cm-header {
      color: var(--base05);
    }
    .cm-link {
      color: var(--base0F);
      text-underline-position: under;
    }
    .cm-rangeinfo {
      color: var(--base0C);
    }
    .cm-builtin {
      color: var(--base0F);
    }
    .cm-qualifier,
    .cm-tag {
      color: var(--base08);
    }
    .cm-whitespace::before {
      color: var(--base06);
      opacity: 0.4;
    }
    .cm-formatting-quote,
    .cm-formatting-strong,
    .cm-formatting-em {
      opacity: 0.8;
    }
    .cm-strong,
    .cm-em {
      color: var(--base05);
    }
    .cm-formatting-strikethrough {
      color: var(--base0C);
    }
    .cm-formatting-link,
    .cm-formatting-link-string {
      color: var(--base0C) !important;
      text-decoration: none;
    }
    .cm-formatting-link-string.cm-link-footref2 {
      color: var(--base0A) !important;
    }
    .cm-image-marker,
    .cm-formatting-image {
      color: var(--base0C);
    }

    /* carriage return */
    .CodeMirror-code > div > pre > span::after,
    .CodeMirror-line > span::after {
      color: var(--base06);
      opacity: 0.4;
    }

    .cm-inline-code {
      background: #16161e;
      color: var(--base0C);
    }

    .gfm-codeblock-bg.CodeMirror-linebackground {
      background: #16161e;
    }

    .gfm-codeblock {
      color: var(--base0C);

      .cm-formatting-code-block {
        color: var(--base0C);
      }
      .cm-keyword {
        color: var(--base0E);
      }
      .cm-def {
        color: var(--base0D);
      }
      .cm-string {
        color: #9ece6a;
      }
      .cm-variable {
        color: var(--base0D);
      }
      .cm-builtin {
        color: #0db9d7;
      }
      .cm-operator {
        color: var(--base0C);
      }
      .cm-number,
      .cm-atom {
        color: var(--base0A);
      }
      .cm-property {
        color: #0db9d7;
      }
    }

    .cm-table-sep,
    .table-row.table-row-1 {
      color: var(--base0C);
    }
    .table-row {
      color: #c0cefc;
    }

    .cm-quote.cm-link-barelink {
      font-style: normal;
      color: var(--base0A);
    }
  }

  /* Active Line Highlight support */
  .CodeMirror-activeline-background,
  .CodeMirror-activeline-gutter {
    background-color: #1e202e !important;
  }

  /* Inkdrop-specific header levels */
  .CodeMirror .header {
    color: #747ca1;

    &.header-1 {
      color: var(--base0C);
    }
    &.header-2 {
      color: #61bdf2;
    }
    &.header-3 {
      color: var(--base0D);
    }
    &.header-4 {
      color: #6d91de;
    }
    &.header-5 {
      color: var(--base01);
    }
  }
}
